div.content {
  // body needs to clear the main nav:
  padding-top: $nav-height-medium;
}

header.site_header {
  background-color: #CCC;
  min-height: $nav-height-medium;
  span.toggle_menu {
    @include hidden;
  }
  div.outside {
    // overflow: hidden;
    min-height: $nav-height-medium;
    @include outer-container;
  }

  li,
  li a {
    width: auto;
    clear: none;
  }
}
a.site-title {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;

  background-color: #FCF;

  width: $main_logo_width;
  height: $main_logo_width;

}

span.stripe {
  // this is for the menu to hide behind.
  position: relative;
  width: auto;
  height: auto;
}
nav.site-nav {
  // overriding all of the palm sized styles:
  display: block;
  position: relative;
  float: left;
  clear: none;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 0; // must fall behind a.site-title.
  min-height: $nav-height-medium;
  border-bottom: none;
}

nav.site-nav > span {
  position: relative;
}

ul.mainNav {

  // background-color: #FCF;
  li,
  li a {
    line-height: $nav-height-medium;
    padding: 0 $main_gutter;
    .no-touchevents &:hover {
      background: #f4f4f4;
    }
  }

  li:first-child {
    margin-left: $main_logo_width;
  }
}

ul.subNav {
  background-color: transparent;
  width: auto;
  display: block;

  float: right;
  clear: none;

}
