div.content {
  // body needs to clear the main nav:
  padding-top: $nav-height-mobile;
}

/* ***********************
  basics
*********************** */
header.site_header span.stripe {
  height: $nav-height-mobile;
  position: fixed;
  width: 100%;
  background-color: #F4F4F4;
  z-index: 1500; // always on top !!!
  transition: margin 0.5s ease-in-out;
}
header.site_header span.main-nav {
  position: absolute;
  left:0;
  top: $nav-height-mobile;
}
header.site_header {
  li,
  li a {
    display: block;
    float: left;
    clear: left;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
a.site-title {
  display: inline-block;
  text-align: center;
  vertical-align: bottom;

  float: left;
  clear: none;

  width: $main_logo_width;
  height: $nav-height-mobile;

}
span.mobile_shader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1; // one below span.shade
  width: 100%;
  background-color: transparent;
  transition: background-color 0.4s ease-in-out;


}

/* **********************
  mobile menu OFF:
********************** */
nav.site-nav {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 0;

  overflow: hidden;
  z-index: 1000;
  // background: #FFF;
  // border-bottom: 1px #000 solid;
  transition: height 0.25s ease-in-out;
  li a {
    padding: $main_gutter;
  }
}
nav.site-nav > span {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

}
nav.site-nav span.mn,
nav.site-nav span.sn {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
nav.site-nav span.mn {
  padding-top: $nav-height-mobile;
  background-color: #FFF;
}
nav.site-nav span.sn {
  padding-bottom: $nav-height-mobile;
  background-color: transparent;
}
ul.mainNav,
ul.subNav {
  display: block;
  float: left;
  clear: left;
  width: 100%;
}
ul.mainNav li a,
ul.subNav li a {
  background-color: #FFF;
}
ul.subNav li a {
  background: #CCC;
}

/* **********************
  mobile menu ON:
********************** */
body.main_nav_on nav.site-nav {
  transition: height 0.5s ease-in-out;
}
body.main_nav_on body > div.site {
  position: fixed;
}
body.main_nav_on span.mobile_shader {
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.4s ease-in-out;
}

/* **********************
  masthead HIDDEN:
********************** */
body.hiddenMasthead header.site_header span.stripe {
  margin-top: -$nav-height-mobile;
}
