// $color_modus_orange: #F63;
$color_modus_orange: rgb(255, 102, 51);
// $color_modus_orange: rgb(255, 0, 0);
$color_modus_orange2: #F2663A;
$color_modus_red: #F00;
$color_modus_brown: #54301B;
$color_modus_brown: rgb( 84, 48, 27 );
$color_modus_dark_brown: #220e10;

$color_modus_blue: #5e8bc8;
$color_modus_blue: rgb( 98, 213, 242 );
$color_modus_bg_gray: #f0f2f1;
$color_modus_dark_gray: #333;

$color_modus_NAV: $color_modus_orange;
